<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.payment.mapper.PaymentMapper">

    <resultMap id="BaseResultMap" type="com.example.apicommons.entity.Payment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="serial" column="serial" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,serial
    </sql>
    <insert id="insertSelective">
        insert into payment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="serial != null">serial,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="serial != null">#{serial,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <select id="findOneById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from payment
        where
        id = #{id,jdbcType=NUMERIC}
    </select>
</mapper>
